html {
  height: 100%;
}
body {
  height: 100%;
  background: black;
  background-color: black;
  overflow: hidden;
}
#app {
  height: 100%;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background: black;
  background-color: black;
}
#toolbar {
  position: absolute;
  z-index: 99;
  display: none;
}

#progress-bar-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  opacity: 0.7;
  width: 100%;
  display: none;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
#pt-container {
  left: 50%;
  width: initial;
  transform: translate(-50%, 0%);
}
img.instagram {
  width: initial;
  height: 100vh;
  /* align-content: center; */
  margin-left: 50%;
  /* margin-right: auto; */
  transform: translate(-50%,0);
}
